In [2]:
# Import required library
import pandas as pd

In [4]:
# Load the dataset
df = pd.read_csv("Employee Turnover Dataset.csv")

In [5]:
# Check the initial shape of the dataset
print("Initial dataset shape:")
print(df.shape)

Initial dataset shape:
(10199, 16)

In [6]:
# ------------------------------
# Quality Issue #1 - Duplicate Entries
# ------------------------------

# Check for duplicated rows
num_duplicates = df.duplicated().sum()
print("\nNumber of duplicate rows:")
print(num_duplicates)

Number of duplicate rows:
99

In [8]:
# If duplicates exist, display them
if num_duplicates > 0:
    duplicate_rows = df[df.duplicated()]
    print("\nDuplicate rows:")
    print(duplicate_rows)

Duplicate rows:
       EmployeeNumber  Age  Tenure Turnover HourlyRate   HoursWeekly  \
10100               1   28       6      Yes     $24.37            40
10101               2   33       2      Yes     $24.37            40
10102               3   22       1       No     $22.52            40
10103               4   23       1       No     $22.52            40
10104               5   40       6       No     $88.77            40
...               ...  ...     ...      ...         ...          ...
10194              95   48      13      Yes     $85.40            40
10195              96   54      17       No     $85.40            40
10196              97   44       6       No     $71.90            40
10197              98   58      19       No     $71.90            40
10198              99   48      17      Yes     $71.33            40

      CompensationType  AnnualSalary  DrivingCommuterDistance  \
10100           Salary       50689.6                       89
10101           Salary       50689.6                       89
10102           Salary       46841.6                       35
10103           Salary       46841.6                       35
10104           Salary      284641.6                       12
...                ...           ...                      ...
10194           Salary      177632.0                       31
10195           Salary      177632.0                       31
10196           Salary      149552.0                       32
10197           Salary      149552.0                       32
10198           Salary      148075.2                       50

                  JobRoleArea                Gender MaritalStatus  \
10100                Research                Female       Married
10101                Research                Female       Married
10102  Information_Technology                Female        Single
10103  Information_Technology                Female        Single
10104                   Sales  Prefer Not to Answer        Single
...                       ...                   ...           ...
10194                Research                  Male        Single
10195                Research                  Male        Single
10196               Marketing                  Male       Married
10197               Marketing                  Male       Married
10198                   Sales  Prefer Not to Answer       Married

       NumCompaniesPreviouslyWorked  AnnualProfessionalDevHrs PaycheckMethod  \
10100                           3.0                       7.0     Mail Check
10101                           6.0                       7.0     Mail Check
10102                           1.0                       8.0   Mailed Check
10103                           3.0                       NaN   Mailed Check
10104                           7.0                       NaN     Mail Check
...                             ...                       ...            ...
10194                           7.0                       5.0     Mail Check
10195                           2.0                      25.0     Mail Check
10196                           6.0                       NaN     Mail Check
10197                           5.0                      23.0     Mail Check
10198                           8.0                       8.0     Mail Check

      TextMessageOptIn
10100              Yes
10101              Yes
10102              Yes
10103              Yes
10104              Yes
...                ...
10194              NaN
10195              Yes
10196              Yes
10197              Yes
10198              Yes

[99 rows x 16 columns]

In [10]:
# Remove duplicate rows
df = df.drop_duplicates()

In [12]:
# Confirm duplicates removed
print("\nDataset shape after removing duplicates:")
print(df.shape)

Dataset shape after removing duplicates:
(10100, 16)

In [16]:
# -----------------------------------------------
# Quality Issue #2 - Missing Values
# -----------------------------------------------

# Check for missing values
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
EmployeeNumber                     0
Age                                0
Tenure                             0
Turnover                           0
HourlyRate                         0
HoursWeekly                        0
CompensationType                   0
AnnualSalary                       0
DrivingCommuterDistance            0
JobRoleArea                        0
Gender                             0
MaritalStatus                      0
NumCompaniesPreviouslyWorked     663
AnnualProfessionalDevHrs        1947
PaycheckMethod                     0
TextMessageOptIn                2258
dtype: int64

In [18]:
# Fill numeric missing values with median
df['DrivingCommuterDistance'] = df['DrivingCommuterDistance'].fillna(df['DrivingCommuterDistance'].median())
df['AnnualProfessionalDevHrs'] = df['AnnualProfessionalDevHrs'].fillna(df['AnnualProfessionalDevHrs'].median())

# Fill TextMessageOptIn with "No"
df['TextMessageOptIn'] = df['TextMessageOptIn'].fillna('No')

# Fill NumCompaniesPreviouslyWorked with 0
df['NumCompaniesPreviouslyWorked'] = pd.to_numeric(df['NumCompaniesPreviouslyWorked'], errors='coerce')
df['NumCompaniesPreviouslyWorked'] = df['NumCompaniesPreviouslyWorked'].fillna(0)

In [20]:
# Confirm missing values handled
print("\nMissing values after filling:")
print(df.isnull().sum())

Missing values after filling:
EmployeeNumber                  0
Age                             0
Tenure                          0
Turnover                        0
HourlyRate                      0
HoursWeekly                     0
CompensationType                0
AnnualSalary                    0
DrivingCommuterDistance         0
JobRoleArea                     0
Gender                          0
MaritalStatus                   0
NumCompaniesPreviouslyWorked    0
AnnualProfessionalDevHrs        0
PaycheckMethod                  0
TextMessageOptIn                0
dtype: int64

In [22]:

# -----------------------------------------------
# Quality Issues #3 & #4 -  Inconsistent Entries and Formatting Errors
# -----------------------------------------------

# Define categorical columns
categorical_cols = ['CompensationType', 'PaycheckMethod', 'JobRoleArea', 'Gender', 'MaritalStatus', 'TextMessageOptIn']

In [43]:
for col in categorical_cols:
 print("\nUnique values in", col, "before cleaning:")
 print(df[col].unique())

Unique values in CompensationType before cleaning:
['Salary']

Unique values in PaycheckMethod before cleaning:
['Mail Check' 'Mailed Check' 'Direct_Deposit' 'DirectDeposit'
 'Direct Deposit' 'Mail_Check' 'MailedCheck']

Unique values in JobRoleArea before cleaning:
['Research' 'Information_Technology' 'Sales' 'Human_Resources'
 'Laboratory' 'Manufacturing' 'Healthcare' 'Marketing'
 'InformationTechnology' 'HumanResources' 'Information Technology'
 'Human Resources']

Unique values in Gender before cleaning:
['Female' 'Prefer Not to Answer' 'Male']

Unique values in MaritalStatus before cleaning:
['Married' 'Single' 'Divorced']

Unique values in TextMessageOptIn before cleaning:
['Yes' 'No']

In [24]:
# Manual mappings for known inconsistent entries

# PaycheckMethod fixes
df['PaycheckMethod'] = df['PaycheckMethod'].replace({
    'Direct_Deposit': 'Direct Deposit',
    'DirectDeposit': 'Direct Deposit',
    'Mail_Check': 'Mail Check',
    'MailedCheck': 'Mail Check',
    'Mailed Check': 'Mail Check'
})

# JobRoleArea fixes
df['JobRoleArea'] = df['JobRoleArea'].replace({
    'Information_Technology': 'Information Technology',
    'InformationTechnology': 'Information Technology',
    'Human_Resources': 'Human Resources',
    'HumanResources': 'Human Resources'
})

# Apply general cleaning (strip and title case)
for col in categorical_cols:
    df[col] = df[col].astype(str).str.strip().str.title()

In [26]:

# Confirm unique values after cleaning
for col in categorical_cols:
    print("\nUnique values in", col, "after cleaning:")
    print(df[col].unique())

Unique values in CompensationType after cleaning:
['Salary']

Unique values in PaycheckMethod after cleaning:
['Mail Check' 'Direct Deposit']

Unique values in JobRoleArea after cleaning:
['Research' 'Information Technology' 'Sales' 'Human Resources'
 'Laboratory' 'Manufacturing' 'Healthcare' 'Marketing']

Unique values in Gender after cleaning:
['Female' 'Prefer Not To Answer' 'Male']

Unique values in MaritalStatus after cleaning:
['Married' 'Single' 'Divorced']

Unique values in TextMessageOptIn after cleaning:
['Yes' 'No']

In [28]:
# Outliers check using summary statistics
print("\nSummary statistics for numeric columns (Outlier Check):")
print(df.describe())

Summary statistics for numeric columns (Outlier Check):
       EmployeeNumber           Age        Tenure  HoursWeekly   AnnualSalary  \
count    10100.000000  10100.000000  10100.000000      10100.0   10100.000000
mean      5050.500000     44.078911      9.007624         40.0  120994.773564
std       2915.763193     10.213311      5.512046          0.0   77358.965898
min          1.000000     21.000000      1.000000         40.0  -33326.400000
25%       2525.750000     37.000000      5.000000         40.0   63440.000000
50%       5050.500000     44.000000      8.000000         40.0  101774.400000
75%       7575.250000     53.000000     13.000000         40.0  153717.200000
max      10100.000000     61.000000     20.000000         40.0  339950.400000

       DrivingCommuterDistance  NumCompaniesPreviouslyWorked  \
count             10100.000000                  10100.000000
mean                 45.165743                      3.942970
std                  51.390866                      2.618329
min                -275.000000                      0.000000
25%                  13.000000                      2.000000
50%                  42.000000                      3.000000
75%                  71.000000                      6.000000
max                 950.000000                      9.000000

       AnnualProfessionalDevHrs
count              10100.000000
mean                  14.954455
std                    5.466432
min                    5.000000
25%                   11.000000
50%                   15.000000
75%                   19.000000
max                   25.000000

In [30]:
import numpy as np


# Fix negative AnnualSalary
# Replace negative salaries with NaN
df['AnnualSalary'] = df['AnnualSalary'].apply(lambda x: x if x >= 0 else np.nan)

# Fill NaN (negative values replaced) with median salary
df['AnnualSalary'] = df['AnnualSalary'].fillna(df['AnnualSalary'].median())

# Fix negative DrivingCommuterDistance
# Replace negative distances with NaN
df['DrivingCommuterDistance'] = df['DrivingCommuterDistance'].apply(lambda x: x if x >= 0 else np.nan)

# Fill NaN (negative values replaced) with median distance
df['DrivingCommuterDistance'] = df['DrivingCommuterDistance'].fillna(df['DrivingCommuterDistance'].median())

In [32]:
# Confirm fixed values
print("\nFixed AnnualSalary summary:")
print(df['AnnualSalary'].describe())

print("\nFixed DrivingCommuterDistance summary:")
print(df['DrivingCommuterDistance'].describe())

Fixed AnnualSalary summary:
count     10100.000000
mean     121612.107267
std       76735.205764
min        1307.200000
25%       63835.200000
50%      102440.000000
75%      153717.200000
max      339950.400000
Name: AnnualSalary, dtype: float64

Fixed DrivingCommuterDistance summary:
count    10100.000000
mean        53.421683
std         44.483847
min          0.000000
25%         30.000000
50%         49.000000
75%         71.000000
max        950.000000
Name: DrivingCommuterDistance, dtype: float64

In [34]:
# Save cleaned dataset
df.to_csv("employee_turnover_cleaned.csv", index=False)
print("\nCleaned dataset saved as 'employee_turnover_cleaned.csv'.")

Cleaned dataset saved as 'employee_turnover_cleaned.csv'.